/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #123456;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-height: 50px;
    margin-right: 20px;
}

nav h1 {
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.relatorio-container h2 {
    margin-bottom: 20px;
}

.add-report-btn {
    padding: 10px 20px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.add-report-btn:hover {
    background-color: #004999;
}

.relatorio-tabela table {
    width: 100%;
    border-collapse: collapse;
}

.relatorio-tabela th, .relatorio-tabela td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.relatorio-tabela th {
    background-color: #f2f2f2;
}

.relatorio-tabela tbody tr:hover {
    background-color: #f1f1f1;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #123456;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-logo {
    margin-bottom: 10px;
}

.footer-logo-img {
    max-height: 40px;
}
